@import url("form-reset.css");

body {
  font-family: sans-serif;
}

form > div {
  display: flex;
}

label {
  width: 10em;
}

.buttons {
  justify-content: center;
}
input[type="text"],
input[type="email"] {
  border: 2px solid #000;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 80%;
}

input[type="submit"] {
  border: 3px solid #a37e7e;
  background-color: #beabab;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #809676;
}
